body
{
  background:      #cc8800;/* couleur du fond */
  font-family: "Lucida Console", Courier, monospace; /*définition de la police d'écriture*/
  color: ;      /*définition de la ouleur de la police*/
}
